.todo-list {
    display: flex;
    justify-content: center;
}

.todo-list__container {
    border: 1px solid black;
    list-style-type: none;
    width: 70%;
    padding: 1rem 2rem;
    border-radius: 20px;
}

.todo-list__container:hover {
    box-shadow: 0px 0px 8px 0px rgb(170, 138, 138);
}

@media (max-width: 600px) {
    .todo-list__container {
        width: 80%;
    }
}
