.create-task {
    display: flex;
    align-items: center;
    justify-content: center;
}

.create-task__button {
    background: none;
    border: none;
}

.create-task__button > svg {
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(85, 201, 255);
    color: aliceblue;
    position: absolute;
    z-index: 1;
    right  : 0;
    bottom : 0;
    margin : 2rem;
}
