.create-task {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(8, 1fr);
}

.create-task__title {
    grid-column-start: 1;
    grid-column-end: 9;
    text-align: center;
}

.create-task__input {
    grid-column-start: 3;
    grid-column-end  : 7;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid black;
    outline: none;
    margin-bottom: 20px;
}

.create-task__button {
    grid-row-start: 4;
    grid-column-start: 4;
    grid-column-end  : 6;
    background: none;
    border: none;
}

.create-task__button > svg {
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(85, 201, 255);
    color: aliceblue;
    position: absolute;
    z-index: 2;
}

@media (max-width: 600px) {
    .create-task {
        display              : grid;
        grid-template-rows   : 1fr 1fr 1fr;
    }

    .create-task__title {
    grid-column-start: 2;
    grid-column-end  : 8;
    text-align       : center;
    }

    .create-task__input {
        grid-column-start: 2;
        grid-column-end  : 8;
        margin-bottom: 10px;
    }

    .create-task__button {
        grid-column-start: 2;
        grid-column-end  : 8;
        border-radius: 10px;
    }

    .create-task__button>svg {
        position: fixed;
        right   : 0;
        bottom  : 0;
        margin: 1rem;
    }
}
